<%- include('../elements/header'); %>

<main class="container" role="main">
    <br>
    <div class="jumbotron">
        <h1>Welcome to aCms</h1>
        <p>This page is rendered in <code>/views/pages/home.ejs</code></p>

        <p>
            <a href="/api" class="btn btn-primary">Api Teste</a>
        </p>
    </div>
</main>


<%- include('../elements/footer');%>