<%- include('../elements/header'); %>

<main class="container" role="main">
    <div class="jumbotron">

        <h1>Welcome</h1>

        <p>this content is is in <code>/views/pages/home.ejs</code></p>

    </div>
</main>


<%- include('../elements/footer');%>